.dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: all .25s ease;
    z-index: 10;
}

.dialog .dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
}

.dialog .dialog-content .dialog-header {
    display: flex;
    justify-content: space-between;
}

.dialog .dialog-content .dialog-header .dialog-title {
    height: 73px;
    box-sizing: border-box;
    padding: 20px 32px;
    padding-right: 12px;
    display: flex;
    align-items: center;
}

.dialog .dialog-content .dialog-header .dialog-title .title {
    font-size: 24px;
    font-weight: 700;
}

.dialog .dialog-content .dialog-header .dialog-close {
    width: 78px;
    height: 73px;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.dialog .dialog-content .dialog-body {
    width: 900px;
    padding: 0 32px 20px;
    box-sizing: border-box;
}

.dialog-line {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    margin: 32px 0 20px;
}

.dialog .dialog-content .dialog-body .dialog-footer {
    display: flex;
    justify-content: space-between;
}

.dialog .dialog-content .dialog-body .dialog-footer .footer-right {
    display: flex;
}


/* css riêng */

.dialog .dialog-content .dialog-header .dialog-title .group-function {
    display: flex;
}

.dialog .dialog-content .dialog-header .dialog-title .group-function .group-radio {
    display: flex;
    padding: 0 13px;
}