.m-button-group {
    display: flex;
    height: 36px;
    align-items: center;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    padding: 0 16px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #3b3c3f;
}

.m-button-group:hover {
    cursor: pointer;
    background-color: #D8D8D8;
}

.m-button-group .m-button-title {
    padding-right: 4px;
    font-family: Notosans-Semi-bold;
}

.m-button-group .m-button-icon-dropdown {
    width: 16px;
    height: 16px;
    background: url(../../../assets/img/Sprites.64af8f61.svg) no-repeat -560px -359px;
}