input {
    font-family: Notosans;
}

.m-input {
    height: 32px;
    border: 1px solid #bbb;
    border-radius: 2px;
    outline: none;
    padding: 0 12px 0 10px;
    /* Kiểu này nó sẽ giữ nguyên cái độ rộng độ cao mà nó set mà nó không cộng cái padding */
    box-sizing: border-box;
    width: 100%;
    font-family: Notosans;
}

.m-input:focus {
    border-color: #31B404;
}

.m-input::placeholder {
    font-style: italic;
    font-family: Notosans;
    font-size: 12px;
}