.m-button-icon {
    width: 24px;
    height: 24px;
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat;
}

.m-button-icon:hover {
    cursor: pointer;
}

.m-icon-size-16 {
    width: 16px !important;
    height: 16px !important;
}


/* icon */

.btn-refresh {
    background-position: -423px -201px;
}

.btn-refresh:hover {
    background-position: -1096px -88px;
}

.btn-excel {
    background-position: -704px -200px;
}

.btn-excel:hover {
    background-position: -1264px -88px;
}

.btn-arrow-check-all {
    background-position: -256px -144px;
}

.btn-tour {
    background-position: -984px -144px;
}

.btn-chevron-left {
    background-position: -224px -360px;
}

.btn-setting-background {
    background-position: -88px -200px;
}

.btn-setting-background:hover {
    background-position: -675px -30px;
}

.btn-setting-normal {
    background-position: -675px -30px;
}

.btn-icon-help {
    background-position: -89px -144px;
}

.btn-icon-close {
    background-position: -144px -144px;
}

.btn-icon-drown {
    background-position: -560px -360px;
}

.btn-plus-success {
    background-position: -32px -312px;
}

.btn-close-small {
    background-position: -80px -312px;
}

.btn-item-selected {
    background-position: -896px -312px;
}

.btn-mi-delete {
    background-position: -464px -312px;
}

.btn-clock {
    background-position: -648px -144px;
}

.btn-calendar {
    background-position: -128px -312px;
}