.m-button-icon {
    width: 24px;
    height: 24px;
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat;
}

.m-button-icon:hover {
    cursor: pointer;
}


/* icon */

.btn-refresh {
    background-position: -423px -201px;
}

.btn-refresh:hover {
    background-position: -1096px -88px;
}

.btn-excel {
    background-position: -704px -200px;
}

.btn-excel:hover {
    background-position: -1264px -88px;
}

.btn-arrow-check-all {
    background-position: -256px -144px;
}