/* css m-input */

@import url('./general/input.css');

/* css m-input-icon */

.m-input-icon {
    background-image: url(../../assets/icon/search.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: calc(100% - 12px) center;
    padding: 0 28px 0 10px;
}

.m-label {
    font-size: 13px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 4px;
    font-family: Notosans-Semi-Bold;
    display: flex;
}

.m-input-readOnly {
    background-color: rgb(236, 235, 235) !important;
}

.m-input-readOnly input {
    background-color: rgb(236, 235, 235) !important;
}

.m-border-red {
    border: 1px solid red !important;
}

.m-input-textarea {
    height: 56px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.m-input-number {
    text-align: end;
}


/* Xóa bỏ tăng giảm của kiểu số ấy */

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* kiểu dữ liệu là date */

.m-form-date {
    display: flex;
    height: 32px;
    box-sizing: border-box;
    align-items: center;
    background-color: #ffff;
    border: 1px solid #bbb;
    border-radius: 2px;
}

.m-form-date:focus-within {
    border: 1px solid #31B404;
}

.m-form-date input {
    margin: unset;
    padding: unset;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 12px 0 10px;
    box-sizing: border-box;
    font-family: Notosans;
}

input.m-title-date::placeholder {
    font-style: italic;
    font-family: Notosans;
}

.m-form-date .m-icon-date {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0px 8px;
}

.m-form-date .m-icon-date:hover {
    height: 30px;
    background-color: #e0e0e0;
}