.m-item-ground {
    display: flex;
    padding-right: 20px;
    align-items: center;
    /* background-color: gree; */
}

.m-item-ground .m-item-radio {
    padding: unset;
    margin: unset;
    height: 18px;
    width: 18px;
    margin-right: 7px;
}

input[type="radio"] {
    display: none;
}

label {
    position: relative;
    display: flex;
    align-items: center;
}

label span {
    position: absolute;
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    margin-left: 3px;
    border-radius: 50%;
}

label::before {
    content: "";
    height: 18px;
    width: 18px;
    border: 0.5px solid #bbb;
    border-radius: 50%;
    margin-right: 7px;
    box-sizing: border-box;
}

input[type="radio"]:checked+label:before {
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border: 1px solid #2ca01c;
}

input[type="radio"]:checked+label span {
    background-color: #2ca01c !important;
}