/* css checkbox */

@import url('./general/checkbox.css');

/* css table */

.m-grid {
    overflow: auto;
    box-sizing: border-box;
}


/* css lại cho thanh cuộn */

#m-grid::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#m-grid::-webkit-scrollbar-thumb {
    background-color: #d5d6da;
    width: 5px;
}


/* css cho sticky ấy */

.m-grid table.m-table {
    width: 100% !important;
    border-spacing: unset;
    /* Chú ý phải bỏ cái thuộc tính như này đi */
    /* border-collapse: collapse; */
    z-index: 1;
    border: unset;
    border-left: none;
    border-right: none;
}

.m-grid .sticky-checkbox {
    position: sticky;
    z-index: 5;
    left: 0;
    border-left: 1px solid #bbb;
}

.m-grid .sticky-function {
    position: sticky;
    z-index: 5;
    right: 0;
    border-left: 1px solid #bbb;
}

.m-grid td.sticky-checkbox {
    border-right: 1px dotted #bbb !important;
    border-left: none !important;
}

.m-grid th.sticky-checkbox {
    border-left: unset;
    border-right: 1px solid #bbb;
}

.m-grid td.sticky-function {
    background-color: #fff;
}

.m-grid tbody .sticky-checkbox {
    background-color: #fff;
}

.m-grid table.m-table tr td {
    height: 44px;
    border: unset;
    box-sizing: border-box;
}

.m-grid table.m-table tr th {
    height: 35px !important;
    text-align: left;
    font-size: 12px;
    color: #111111;
    cursor: pointer;
    font-family: Notosans-Bold;
}

.m-grid table.m-table tr td {
    padding: 0 10px;
    border: unset;
    border-left: 1px dotted #bbb;
    border-bottom: 1px solid #bbb;
}

.m-grid table thead {
    position: sticky;
    top: 0;
    z-index: 7;
}

.m-grid table thead th {
    position: sticky;
    top: -21px;
    padding: 0 10px;
    background-color: rgb(236 238 241);
    border: unset;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}


/* End */


/*Các thành phần trong table */

.m-grid table.m-table tbody tr {
    background-color: #fff;
}

.m-grid table.m-table tbody tr:hover td {
    background-color: #f5fbf9;
    cursor: pointer;
}

.m-grid table.m-table tbody tr.m-row-selected {
    background-color: #ebf9f4;
}


/* css cho các hành động */

.m-grid table.m-table tbody tr td.m-funtionsss {
    width: 120px !important;
    box-sizing: border-box !important;
}

.m-grid table.m-table tbody tr td .m-function {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #000000;
    border-radius: 4px;
    width: 100px;
}

.m-grid table.m-table tbody tr td .m-function .m-title {
    font-size: 13px;
    font-weight: 600;
    color: #0075c0;
    font-family: Notosans-Semi-bold;
}

.m-grid table.m-table tbody tr td .m-function button {
    border: unset;
    margin: unset;
    padding: unset;
    background-color: unset;
}

.m-grid table.m-table tbody tr td .m-function button.m-button-function {
    margin: 8px 10px;
    width: 26px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border: none;
}

.m-grid table.m-table tbody tr td .m-function button.m-button-function .m-button-icon {
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -896px -359px;
    width: 16px;
    height: 16px;
    padding: 0 5px;
    box-sizing: border-box;
}


/* Để xóa bỏ đi phần thừa không cần thiết của checkbox */

.m-grid .m-checkbox-table {
    padding-right: 2px !important;
}